.Dashboard {

    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #0575d0;
    background:#fff;
    width:100%;
    height:100px;

}

.Maple-Dashboard {
    width: 235px;
    height: 28px;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}